:root {
    --background: #f5f5f5;
    --primary: #0000a1;
}

*, *::before, *::after { 
    box-sizing: border-box; 
}

body { 
    margin: 0; 
    font-family: system-ui, sans-serif; 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    background: var(--background);
} 

h1 {
    color: var(--primary);
}

main { 
    flex: 1; 
}

.hidden {
    display: none !important;
}

.form-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}