:root {
    --background: #f5f5f5;
    --primary: #0000a1;

    --button: #e7d7ff;
    --button-hover: #d9e7f7;
}

*, *::before, *::after { 
    box-sizing: border-box; 
}

body { 
    margin: 0; 
    font-family: system-ui, sans-serif; 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    background: var(--background);
} 

/* element */

button {
    background: transparent;
    padding: 5px 20px;
    border-radius: 10px;
    border: var(--primary) 1px solid;
    cursor: pointer;
    width: fit-content;
    height: fit-content;

    &:hover{
        background-color: var(--button-hover);
    }
}

h1 {
    color: var(--primary);
    text-align: center;
}

main { 
    flex: 1;
    justify-items: center;

    .articles {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;

        .title {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-between;
            align-items: center;
        }
    }
}

.hidden {
    display: none !important;
}

.form-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}