:root {
    --background: #f5f5f5;
    --primary: #0000a1;

    --button: #e7d7ff;
    --button-hover: #d9e7f7;
}

*, *::before, *::after { 
    box-sizing: border-box; 
}

body { 
    margin: 0; 
    font-family: system-ui, sans-serif; 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    background: var(--background);
} 

/* element */

button {
    background: transparent;
    padding: 5px 20px;
    border-radius: 10px;
    border: var(--primary) 1px solid;
    cursor: pointer;
    width: fit-content;
    height: fit-content;

    &:hover{
        background-color: var(--button-hover);
    }
}

h1 {
    color: var(--primary);
    text-align: center;
}

h2, h3 {
    margin : 0;
    padding: 0;
}

main { 
    flex: 1;
    justify-items: center;

    .articles {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
        gap : 20px;

        .title {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-between;
            align-items: center;
        }

        .ressources {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: flex-start; 
            gap: 20px;
    
            .ressource-item {
                flex: 0 0 calc(33.333% - 20px); 
                max-width: 35%;
                min-width: 250px;
                border: var(--primary) 1px solid;
                border-radius: 20px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .card-header {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    
                    .category-badge {
                        border: var(--primary) 1px solid;
                        padding: 5px 15px;
                        border-radius: 20px;
                        font-size: 0.8rem;
                    }
                }

                .card-body {
                    flex-grow: 1;
                    
                    .res-description {
                        margin: 0;
                        font-size: 0.95rem;
                    }
                }

                .card-footer {
                    display: flex;
                    justify-content: flex-start;
                    gap: 10px;
                    font-size: 0.85rem;
                    opacity: 0.8;
                    padding-top: 10px;
                }
            }
        }
    }
}

.hidden {
    display: none !important;
}

.form-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}